<mat-card>
  <mat-card-content>
    <mat-card-title
      >{{ ticket.title
      }}<button>
        <mat-icon fontIcon="delete" (click)="onDelete()"></mat-icon></button
    ></mat-card-title>
    <mat-card-subtitle>{{ ticket.description }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="ticket.status !== 0"
      mat-raised-button
      (click)="onMoveBackwards()"
    >
      <mat-icon fontIcon="arrow_back"></mat-icon>
    </button>
    <button
      *ngIf="ticket.status !== 3"
      mat-raised-button
      (click)="onMoveForward()"
    >
      <mat-icon fontIcon="arrow_forward"></mat-icon>
    </button>
    <button mat-raised-button (click)="onEdit()">Edit</button>
  </mat-card-actions>
</mat-card>