mat-card {
  margin-bottom: 16px;
  box-shadow: none;
  mat-card-title {
    font-size: 16px;
  }
}

mat-card-actions {
  justify-content: space-between;
  gap: 0.5rem;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
