<mat-card>
  <mat-card-content>
    <mat-card-title>{{ ticket.title }}</mat-card-title>
    <mat-card-subtitle>{{ ticket.description }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions align="space-around">
    <button *ngIf="ticket.status !== 0" mat-button (click)="onMoveBackwards()">
      <mat-icon fontIcon="arrow_back"></mat-icon>
    </button>
    <button *ngIf="ticket.status !== 3" mat-button (click)="onMoveForward()">
      <mat-icon fontIcon="arrow_forward"></mat-icon>
    </button>
    <button mat-button (click)="onEdit()">Edit</button>
  </mat-card-actions>
</mat-card>
